body {
    margin: 20px;
    background-color: #1A2238;
}
article header{
    position: relative;
    width: 100%;
    height:25%;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size:60px;
    font-weight: bolder;
    color: whitesmoke;
    background-color: #1A2238;
    text-align: center;
}

article nav{
    position: relative;
    align-content: center;
    padding:10px;
    border-radius: 25px 25px 0px 0px;
    width: 100%;
    height:60px;
    text-align: center;
    background-color: #FF6A3D;
}
article nav a{
    position: relative;
    width: 200px;
    padding-bottom: 10px;
}

#maincontainer{
    position: relative;
    width: 100%;
    background-color: azure;
    padding: 10px;
}

article main{
    border-style:solid;
    border-color: #9daaf213;
    border-radius: 25px;
    position: relative;
    color:#1A2238;
    min-height: 300px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 25px;
    background-color: #9daaf227;
    padding: 25px;
    box-shadow: 10px 20px rgba(128, 128, 128, 0.555);
}

article footer{
    position: relative;
    min-height: 100px;
    width: 100%;
    color: whitesmoke;
    text-align: center;
    background-color: #1A2238;
    padding-top: 15px;
    font-size: large;
    font-weight: 100;
}

article main {
}

article main iframe{
    border:none;
    position: inherit;
    width: 100%;
    height: 300px;
    padding-left:20%;
    align: center;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}

.center{
    text-align: center;
}

legend{
    font-size: 25px;
}

.errors {
    color: red;
    font-style: italic;
    font-weight: 600;
    text-align: left;
}

.success {
    color: green;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
}
#transactionsForm{
    border: 1px solid black;
}
.widget{
    margin-top: 25px;
    align-items : center;
    text-align: center;
    align-content: center;
    font-size: 30px;
    width: 100%;
    height: 60px;
    background-color: #FF6A3D;
    padding: 10px;
    border-radius: 15px;
    padding: 10px;
}
.hiddenForm{
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    margin: 0px;
    width: 100%;
    min-height: 150px;
    max-height: 400px;
    overflow-y: scroll;
    background-color: azure;
    background-blend-mode: overlay;
    box-shadow: 10px 20px rgba(128, 128, 128, 0.555);
}
.FormContainer{
    width: 60%;
}
.FormContainer b{
    font-weight: bold;
}
#searchBar{
    position: relative;
    padding: 10px;
    margin-bottom: 10px;
}

.hover_tab_emp:hover {
    color:whitesmoke;
}

.hover_tab_manager:hover {
    color:#FF6A3D;
}